@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "download.scss";
@import "features.scss";
@import "cta.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";
.speech-bubble-container {
  position: absolute;
  right: -200px;
  top: -180px;
}

.circular-sb {
  width: 280px;
  border: 5px solid #00bfb6;
  padding: 80px 0px;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  font-family: arial;
  position: relative;
  color: #85cced;
}

.circular-sb p {
  overflow: hidden;
  width: 15em;
  height: 4em;
  animation: type 4s steps(60, end);
  margin: 10px 0 0 10px;

}

.circular-sb p:nth-child(2){
  animation: type2 4s steps(60, end);
}

.circular-sb p a{
  color: lime;
  text-decoration: none;
}

.circular-sb span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*right circle shape speech bubble*/

.circle1 {
  border: 5px solid #00bfb6;
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: -15px;
  bottom: 23px;
}

.circle1:before {
  content: "";
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  background: #fff;
}

.circle2 {
  border: 5px solid #00bfb6;
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  right: -60px;
  bottom: 5px;
}

/*left circle shape speech bubble*/

.circle3 {
  border: 5px solid #00bfb6;
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  left: -10px;
  bottom: 10px;
}

.circle3:before {
  content: "";
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  background: #fff;
}

.circle4 {
  border: 5px solid #00bfb6;
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  left: -60px;
  bottom: 5px;
}

header.masthead {
  // background: linear-gradient(-45deg, #7b4397, #dc2430, #23A6D5, #23D5AB);
  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 15% 100%
  }
  25% {
    background-position: 45% 50%
  }
  50% {
    background-position: 50% 50%
  }
  75% {
    background-position: 45% 50%
  }
  100% {
    background-position: 15% 50%
  }
}

.slogan {
  animation: fadein 3s;
  opacity: 1;
}

.demo-button {
  animation: fadein 3s;
  opacity: 1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container h4 {
  margin: 3em 0em;
}

iframe {
  width: 100%;
  margin: 0 auto;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 142px;
  bottom: 0;
  left: 0;
  margin-bottom: -1px;
  background: url('../img/shadow.png') repeat-x;
}

.steps {
  padding: 2em 0;
  text-align: center;
  background-color: #9c1a60;
  color: white;
}

.steps h2 {
  margin: 1em 0;
}

.integrations {
  margin: 2em 0;
  text-align: center;
  color: white;
}

.integrations h2 {
  margin: 1em 0;
}

.integrations img.rounded-circle {
  margin: 1em 0;
  width: 100px;
  height: 100px;
}

#breathing-button {
  width: 470px;
  padding: 50px 10px; // margin: 50px auto;
  -webkit-animation: breathing 1s ease-out infinite normal;
  animation: breathing 3s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
  border-radius: 150px;
  border: solid 1px #9a9a9a6e;
  text-align: center;
}

#breathing-button img {
  width: 200px;
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(.7);
  }
  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.team {
  padding: 1em 0;
  background-color: #9a1f5f;
  color: white;
  text-align: center;
  min-height: 100px;
}

.team img {
  width: 100%;
  height: 100%;
  border-radius: 1%;
  margin-bottom: 8em;
}

.demo {
  margin: 2em 0;
  color: white;
}